html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#A56B9D, #FCE4EC);
    color: #5E3A79;
    text-align: center;
    scroll-behavior: smooth;
}

.hero {
    background-image: url("images/spaceGIF.gif");
    image-rendering: optimizeQuality;
    background-size: cover;
    padding: 10px 0 40px 0;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background 0.5s ease-in-out;
}

.hero-title {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    color: #A56B9D;
    font-size: 3rem;
    margin-top: 50px;
}

.hero-text {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    color: #DDA0DD;
}

.hero h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    color: #5E3A79;
    text-transform: uppercase;
}

.underline {
    border-bottom: 4px solid #DDA0DD;
}

.btn {
    padding: 10px 20px;
    background: #DDA0DD;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #8B5E83;
}

header {
    background: rgba(252, 228, 236, 0.9);
}

nav {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    transition: background 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-left: 350px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #5E3A79;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    display: inline-block;
    position: relative;
}

nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #A56B9D;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #A56B9D;
}

section {
    background: rgba(252, 228, 236, 0.9);
    padding: 50px;
    text-align: center;
    border-bottom: 3px solid rgba(173, 116, 179, 0.3); /* Soft border between transitions */
    transition: all 0.5s ease-in-out;
}

.scrolled .hero {
    background-image: none;
    background-color: #FCE4EC;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#message {
    resize: vertical;
}


input, textarea {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #5E3A79;
}

button {
    background-color: #DDA0DD;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #8B5E83;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.hero-logo {
    width: 100px;
    height: auto;
    vertical-align:bottom;
}

.terms-container {
    margin-top: 20px;
}

.terms-link {
    color: #5E3A79;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.terms-link:hover {
    color: #A56B9D;
    text-decoration: underline;
}

h1, h2 {
    color: #A56B9D;
}

a {
    color: #DDA0DD;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.terms{
    font-family: 'Raleway', sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #FCE4EC;
            color: #5E3A79;
            text-align: left;
}

.terms-footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    background: #FCE4EC;
}

.mission-ul{
    list-style: none;
}

.fade-section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
}

.fade-section.visible {
    opacity: 1;
    transform: translateY(0);
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.image-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.image-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image-item:hover img {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#application-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.orbion-logo {
    width: 40px;
    height: auto;
    vertical-align: middle; 
    margin-right: 10px; 
    border-radius: 50%;
    object-fit: cover; 
}

.nav-logo {
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 150px;
}

.search-box {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 20px;
    padding: 5px;
    margin-right: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.search-box input {
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 20px;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}